* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-size: 200%;
    padding-top: 10%;
}

p {
    text-align: center;
    color: rgb(83, 82, 81);
}

header a {
    display: flex;
    color: white;
    text-decoration: none;
}

header {
    width: 100%;
    background-color: #222222;
    color: rgb(252, 252, 252);
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

section {
    padding: 10%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
}

section article {
    flex: 300px;
}

section article img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 740px) {

    #logo {
        font-size: 3em;
    }

    header ul {
        padding-right: 20px;
    }

    header nav ul {
        flex-direction: column;
        padding-bottom: 20%;
        gap: 15px;
    }

    header nav ul li {
        background-color: gray;
    }
}